#standings {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#standings td, #standings th {
    border: 1px solid #ddd;
    padding: 8px;
}

#standings tr{
    color: white;
}

#standings tr:hover {
    background-color: #ddd;
    color: black;
}

#standings th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
#standingsTitle {
color: white;
}

body{
    background-color: black;
}